.root {
    -fx-background-color: #f0f8ff; /* Light blue background */
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: #333; /* Dark grey text */
}

.text-field {
    -fx-font-size: 16px;
    -fx-padding: 5px;
}

.combo-box {
    -fx-font-size: 16px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #79acd4; /* Green background */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #345f80; /* Darker green */
}
#exitButton{
-fx-background-color: #7d332e;
}

#exitButton:hover {
    -fx-background-color: #3b1714; /* Darker green */
}

#clearButton {
    -fx-background-color:#3d5241;
}

#clearButton:hover {
    -fx-background-color: #203624; /* Darker green */
}